body {
    background-color: whitesmoke;
    text-align: center;
    font-family: 'Alegreya Sans', Ariel, sans-serif;

}

#main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: initial;
    justify-content: space-around;
    padding: 15px 0;
}

#title {
    color: #1F2632;
    margin: auto;
    font-size: 4rem;
    width: 100%;
}

#img-div {
    background-color: white;
    padding: 10px;
    margin: 0 15px;
    max-width: min(100%, 400px);
    height: min-content;
    border-radius: 10px;
    display: block;
}

p {
    width: 100%;
}

#image {
    display: block;
    margin: auto;
    max-width: 100%;
}

#img-caption {
    margin: 10px 0 0 0;
    font-size: 25px;
}

#tribute-info {
    font-family: 'Alegreya', serif;
    text-align: justify;
    max-width: 40em;
}
